<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <div class="navigationBar">
    <div class="leftPart">
      <span class="bankText">Open Banking Market</span>
      <div class="leftNavItems">
        <span class="leftItem">Get started</span>
        <span class="leftItem">Contact</span>
        <span class="leftItem">Blog</span>
      </div>
    </div>
    <div class="middlePart">
    </div>
    <div class="rightPart">
      <div class="rightNavItems">
        <div class="loginIcon"><i class="material-icons">lock_open</i></div>
        <span class="rightItem">Login</span>
        <span class="rightItem">Sign Up</span>
      </div>
    </div>
  </div>
  <div class="listsContainer">
    <div class="todoListContainer">
      <a class="todoListTopText">Todo List</a>
        <div class="formDiv">
          <form (ngSubmit)="addTodo()">
            <input class="todoInput" name="todoText" [(ngModel)]="todoText" placeholder="Enter Todo" maxlength="25">
            <input type="submit" value="Add" class="addButton">
          </form>
        </div>
        <div class="listDiv">
          <div class="todosList" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'todosList')">
            <span class="completedTodosText">Todos: {{todos.length}}</span>
            <ul>
              <li *ngFor="let todo of todos; let index = index" draggable="true" (dragstart)="onDragStart($event, index, 'todosList')" >
                {{ todo.contentText }}
                <i class="material-icons" (click)="doneTodo(index)" title="Mark as complete">check_circle</i>
                <i class="material-icons" (click)="removeTodo(index)" title="Delete todo">delete</i>
              </li>
            </ul>
          </div>
          <div class="completedTodosList" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'completedTodosList')">
            <span class="completedTodosText">Completed todos: {{completedTodos.length}}</span>
            <ul>
              <li *ngFor="let todo of completedTodos; let index = index" draggable="true" (dragstart)="onDragStart($event, index, 'completedTodosList')">
                {{ todo.contentText }}
                <i class="material-icons" (click)="removeCompleted(index)" title="Delete completed todo">delete</i>
              </li>
            </ul>
          </div>
        </div>
        <div class="explanationText">
          <a class="todoListTopText">Easy to use</a>
          <div class="explanationSteps">
            <div class="explanationEnter">
              <h3 class="explanationTitle">Enter</h3>
              <h4 class="explanationDescription">Just enter a todo into the top box to get started</h4>
            </div>
            <div class="arrowExpl">
              <i class="material-icons">arrow_forward</i>
            </div>
            <div class="explanationDoIt">
              <h3 class="explanationTitle">Your turn</h3>
              <h4 class="explanationDescription">Now you just complete your todo</h4>
            </div>
            <div class="arrowExpl">
              <i class="material-icons">arrow_forward</i>
            </div>
            <div class="explanationComplete">
              <h3 class="explanationTitle">Complete</h3>
              <h4 class="explanationDescription">Just mark your task as complete</h4>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="footerDiv">
    <footer class="footerPart">
      <span class="footerText">Crosskey</span>
      <div class="footerRightPart">
        <span class="rightFooterItem">Terms</span>
        <span class="rightFooterItem">Privacy</span>
      </div>
    </footer>
  </div>
</div>