<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <div class="navigationBar">
    <div class="leftPart">
      <span class="bankText">Open Banking Market</span>
      <div class="leftNavItems">
        <span class="leftItem">Get started</span>
        <span class="leftItem">Contact</span>
        <span class="leftItem">Blog</span>
      </div>
    </div>
    <div class="middlePart">
      <!--Empty for future changes-->
    </div>
    <div class="rightPart">
      <div class="rightNavItems">
        <div class="loginIcon"><i class="material-icons">lock_open</i></div>
        <span class="rightItem">Login</span>
        <span class="rightItem">Sign Up</span>
      </div>
    </div>
  </div>
  <div class="listsContainer">
    <div class="todoListContainer">
      <a class="todoListTopText">Todo List</a>
        <div class="formDiv">
          <form (ngSubmit)="addTodo()">
            <input class="todoInput" name="todoText" [(ngModel)]="todoText" placeholder="Enter Todo" maxlength="25">
            <input type="submit" value="Add Todo" class="addButton">
          </form>
        </div>
        <div class="listDiv">
          <div class="todosList" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'todosList')">
            <span class="completedTodosText">Todos: {{todos.length}}</span>
            <ul>
              <li *ngFor="let todo of todos; let index = index" draggable="true" (dragstart)="onDragStart($event, index, 'todosList')" >
                {{ todo.contentText }}
                <i class="material-icons" (click)="doneTodo(index)">check_circle</i>
                <i class="material-icons" (click)="removeTodo(index)">delete</i>
              </li>
            </ul>
          </div>
          <div class="completedTodosList" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'completedTodosList')">
            <span class="completedTodosText">Completed todos: {{completedTodos.length}}</span>
            <ul>
              <li *ngFor="let todo of completedTodos; let index = index" draggable="true" (dragstart)="onDragStart($event, index, 'completedTodosList')">
                {{ todo.contentText }}
                <i class="material-icons" (click)="removeCompleted(index)">delete</i>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>